%picture
	background-size: cover
	background-repeat: no-repeat
	background-position: center center

	img
		visibility: hidden
		max-width: 100%

%centering
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

%clearfix
	&:after
		content: ""
		display: table
		clear: both

%justify-content
	margin-bottom: -20px
	text-align: justify
	&::after
		content: ''
		display: inline-block
		width: 100%