.about-sct
	position: relative
	&__slider
		background-image: url("../../img/bg/about-bg.jpg")
		height: rem(400px)
		@extend %picture

	&__about
		padding: rem(30px)
		box-shadow: 0 1px 8px #888
		margin-bottom: rem(40px)

	&__pros
		display: inline-block
		&_right
			text-align: right
	&__pic
		display: inline-block
		width: rem(52px)
		height: rem(52px)
		text-align: center
		vertical-align: middle
		margin-right: 10px
	&__text
		&_pros
			display: inline-block
			vertical-align: middle
			max-width: 61%
			text-align: left
		&_paragraph
			margin-bottom: rem(15px)

			&:last-child
				margin-bottom: rem(40px)