section.catalog-sct.section
	.container
		.title-block
			h2.title.catalog-sct__title
				|Каталог

		ul.catalog-sct__list
			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6

			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6

			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6
			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6

			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6

			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6
			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6


			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6


			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6
			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6


			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6


			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6
			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6


			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6


			li.catalog-sct__item.col-lg-7.col-md-7.col-sm-11.col-xs-20.col-xs-offset-2
				a.catalog-sct__link(href="itemcard.html")
					.catalog-sct__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
					.catalog-sct__description
						h4.catalog-sct__text
							|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6

