section.section.feedback-sct.feedback-sct_itemcard
	.container
		.title-block
			h2.title.feedback-sct__title
				|Обратная связь
		form.row.feedback-sct__form
			.col-md-12.feedback-sct__form_right
				input(type="text", placeholder="Message").input.feedback-sct__input
				br
				input(type="text", placeholder="Message").input.feedback-sct__input
				br
				input(type="text", placeholder="Message").input.feedback-sct__input
			.col-md-12.feedback-sct__form_right
				textarea(name="", placeholder="Message").input.feedback-sct__input.feedback-sct__input_textarea
				br
				button(type="submit").btn.feedback-sct__btn
					|Отправить
