section.information-sct
	.container
		.category.row
			.col-md-24
				.col-md-8.category__item
					a(href="#").btn.category__btn
						|Гарантийный срок эксплуатации
						i(class="fa fa-level-down", aria-hidden="true").category__icon
				.col-md-8.category__item
					a(href="#").btn.category__btn.category__btn_active
						|Гарантийный срок эксплуатации
						i(class="fa fa-level-down", aria-hidden="true").category__icon
				.col-md-8.category__item
					a(href="#").btn.category__btn
						|Гарантийный срок эксплуатации
						i(class="fa fa-level-down", aria-hidden="true").category__icon
		.information-sct__characteristics
			.information-sct__context
				h3.information-sct__subtitle.uppercase
					|  Lorem ipsum dolor sit amet.
				ul.information-sct__list
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
	
			.information-sct__context
				h3.information-sct__subtitle.uppercase
					|  Lorem ipsum dolor sit amet.
				ul.information-sct__list
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
	
			.information-sct__context
				h3.information-sct__subtitle.uppercase
					|  Lorem ipsum dolor sit amet.
				ul.information-sct__list
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
	
			.information-sct__context
				h3.information-sct__subtitle.uppercase
					|  Lorem ipsum dolor sit amet.
				ul.information-sct__list
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
						dl.information-sct__sublist
							dt.information-sct__classname.information-sct__subitem
								|класс А
							dd.information-sct__definition.information-sct__subitem
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptates ut sed fuga fugiat quidem, suscipit distinctio quisquam eveniet voluptas, ad magnam? Amet.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.

section.section.projects-sct.projects-sct_itemcard
	.container
		.title-block
			h2.title.projects-sct__title
				|Примеры Работ
		.row.projects-sct__content
			p.projects-sct__text.col-md-14
				|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, cumque? Magnam perferendis explicabo temporibus rem, debitis in quis, est facere similique possimus eos! Quae quaerat praesentium natus ex ipsam consequuntur animi consequatur saepe, soluta, nostrum, commodi impedit tempore sed quo ipsum necessitatibus unde dolorem reprehenderit. Placeat temporibus reprehenderit ducimus aliquid saepe eum obcaecati commodi, odit error id dicta veniam numquam nulla dolore enim beatae, tenetur dolorem iusto! Aperiam commodi, itaque mollitia exercitationem? Pariatur fuga, reiciendis tempora. Dicta rem asperiores ex officia. Sit rem dignissimos quam id eligendi consectetur molestiae harum odio! Harum doloribus, maiores atque fugit? Quisquam, mollitia? Voluptas, libero.
			.projects-sct__pic.col-md-9.col-md-offset-1(style="background-image: url('img/content/project-pic.jpg');")
				img(src="img/content/project-pic.jpg", alt="Projects picture")
			.projects-sct__gallery.col-md-14
				.projects-sct__preview.col-md-5
					img(src="img/content/project-pic.jpg", alt="Projects picture")
				.projects-sct__preview.col-md-5
					img(src="img/content/project-pic.jpg", alt="Projects picture")
				.projects-sct__preview.col-md-5
					img(src="img/content/project-pic.jpg", alt="Projects picture")
				.projects-sct__preview.col-md-5
					img(src="img/content/project-pic.jpg", alt="Projects picture")

section.section.feedback-sct.feedback-sct_itemcard
	.container
		.title-block
			h2.title.feedback-sct__title
				|Обратная связь
		form.row.feedback-sct__form
			.col-md-12.feedback-sct__form_right
				input(type="text", placeholder="Message").input.feedback-sct__input
				br
				input(type="text", placeholder="Message").input.feedback-sct__input
				br
				input(type="text", placeholder="Message").input.feedback-sct__input
			.col-md-12.feedback-sct__form_right
				textarea(name="", placeholder="Message").input.feedback-sct__input.feedback-sct__input_textarea
				br
				button(type="submit").btn.feedback-sct__btn
					|Отправить
