section.information-sct
	.container
		.category.row
			//- .col-md-8.category__item
			//- 	a(href="#").btn.category__btn
			//- 		|Гарантийный срок эксплуатации
			//- 		i(class="fa fa-level-down", aria-hidden="true").category__icon
			//- .col-md-8.category__item
			//- 	a(href="#").btn.category__btn.category__btn_active
			//- 		|Гарантийный срок эксплуатации
			//- 		i(class="fa fa-level-down", aria-hidden="true").category__icon
			//- .col-md-8.category__item
			//- 	a(href="#").btn.category__btn
			//- 		|Гарантийный срок эксплуатации
			//- 		i(class="fa fa-level-down", aria-hidden="true").category__icon
			.col-md-24
				input(type="radio", id="tab1", name="tabs").category__radio
				label(for="tab1").category__tab.col-md-8
					|Гарантийный срок эксплуатации
					i(class="fa fa-level-down", aria-hidden="true").category__icon
				input(type="radio", id="tab2", name="tabs").category__radio
				label(for="tab2").category__tab.category__tab_active.col-md-8
					|Гарантийный срок эксплуатации
					i(class="fa fa-level-down", aria-hidden="true").category__icon
				input(type="radio", id="tab3", name="tabs").category__radio
				label(for="tab3").category__tab.col-md-8
					|Гарантийный срок эксплуатации
					i(class="fa fa-level-down", aria-hidden="true").category__icon

		.information-sct__characteristics
			.information-sct__context
				h3.information-sct__subtitle.itemcard-sct__subtitle.uppercase
					|  Lorem ipsum dolor sit amet.
				ul.information-sct__list
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
	
			.information-sct__context
				h3.information-sct__subtitle.itemcard-sct__subtitle.uppercase
					|  Lorem ipsum dolor sit amet.
				ul.information-sct__list
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
	
			.information-sct__context
				h3.information-sct__subtitle.itemcard-sct__subtitle.uppercase
					|  Lorem ipsum dolor sit amet.
				ul.information-sct__list
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
	
			.information-sct__context
				h3.information-sct__subtitle.itemcard-sct__subtitle.uppercase
					|  Lorem ipsum dolor sit amet.
				ul.information-sct__list
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.
						dl.information-sct__sublist
							dt.information-sct__classname.information-sct__subitem
								|класс А
							dd.information-sct__definition.information-sct__subitem
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptates ut sed fuga fugiat quidem, suscipit distinctio quisquam eveniet voluptas, ad magnam? Amet.
					li.information-sct__item
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, vel.


