section.section.itemcard-sct
	.container
		.title-block
			h2.title.itemcard-sct__title
				|Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6
		.row
			ul.preview.col-lg-10.col-md-10.col-sm-10.col-xs-24
				li.preview__item.preview__item_active.col-lg-24.col-md-24.col-sm-24.col-xs-24
					.preview__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
				li.preview__item.col-lg-8.col-md-8.col-sm-8.col-xs-8
					.preview__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
				li.preview__item.col-lg-8.col-md-8.col-sm-8.col-xs-8
					.preview__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
				li.preview__item.col-lg-8.col-md-8.col-sm-8.col-xs-8
					.preview__pic
						img(src="img/content/catalog-item-1.jpg", alt="Ультразвуковой квартирный теплосчетчик ULTRAHEAT 2WR6")
			.col-lg-14.col-md-14.col-sm-14.col-xs-24
				.itemcard-sct__description.col-lg-24.col-md-24.col-sm-24.col-xs-24
					.itemcard-sct__context
						h3.itemcard-sct__subtitle.uppercase
							|  Lorem ipsum.
						p.itemcard-sct__text
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores error consequatur eius atque, animi. Itaque, quia, odio! Et, error, cumque?

					.itemcard-sct__context
						h3.itemcard-sct__subtitle.uppercase
							|  Lorem ipsum.
						p.itemcard-sct__text
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores error consequatur eius atque, animi. Itaque, quia, odio! Et, error, cumque?

					.itemcard-sct__context
						h3.itemcard-sct__subtitle.uppercase
							|  Lorem ipsum.
						p.itemcard-sct__text
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores error consequatur eius atque, animi. Itaque, quia, odio! Et, error, cumque?

