.dropdown
	position: absolute
	left: -999px
	top: 100%
	z-index: -1
	box-shadow: 0 0 3px #888

	&__item
		padding: 10px 20px
		background-color: #FFF
		border-bottom: 1px solid $blue
		text-transform: initial
		font-weight: normal
		white-space: nowrap

		&:hover
			background-color: $blue
			color: $dark-blue
		&_active
			color: #fff
			background-color: $blue

		&_submenu
			position: relative

			&-icon
				position: absolute
				@extend %centering
				left: 96%

			&:hover > .submenu
				left: 100%
				top: 0