.header
	margin-bottom: 20px
	box-shadow: 0 1px 5px #aaa
	
	&__content
		padding: 14px 14px

	&__logo
		display: inline-block
		@extend %picture
		vertical-align: middle
		margin-right: 10px

	&__title
		color: $blue
		display: inline-block
		font-family: 'Open Sans'
		text-transform: uppercase
		vertical-align: middle

	&__center-block
		padding: 3px 0

	&__input
		position: relative
		padding-right: 10%

	&__search
		margin-bottom: 10px
		position: relative
		&_btn
			display: inline-block
			position: absolute
			top: 0
			bottom: 0
			right: 0
			z-index: 1
			left: 90%
			border-left: 1px solid $blue
			color: $blue
			text-align: center
			&::before
				content: ''
				display: inline-block
				height: 100%
				vertical-align: middle
		&_icon
			vertical-align: middle

	&__telephone
		margin-bottom: 7px

