extends ../main

block content
	section.section.projects-sct
		.container
			.title-block
				h2.title.projects-sct__title
					|Наши проекты
			.row.projects-sct__content
				p.projects-sct__text.col-md-14
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, cumque? Magnam perferendis explicabo temporibus rem, debitis in quis, est facere similique possimus eos! Quae quaerat praesentium natus ex ipsam consequuntur animi consequatur saepe, soluta, nostrum, commodi impedit tempore sed quo ipsum necessitatibus unde dolorem reprehenderit. Placeat temporibus reprehenderit ducimus aliquid saepe eum obcaecati commodi, odit error id dicta veniam numquam nulla dolore enim beatae, tenetur dolorem iusto! Aperiam commodi, itaque mollitia exercitationem? Pariatur fuga, reiciendis tempora. Dicta rem asperiores ex officia. Sit rem dignissimos quam id eligendi consectetur molestiae harum odio! Harum doloribus, maiores atque fugit? Quisquam, mollitia? Voluptas, libero.
				.projects-sct__pic.col-md-9(style="background-image: url('img/content/project-pic.jpg');")
					img(src="img/content/project-pic.jpg", alt="Projects picture")
				.projects-sct__gallery.col-md-14.align-self-end
					.projects-sct__preview.col-md-5
						img(src="img/content/project-pic.jpg", alt="Projects picture")
					.projects-sct__preview.col-md-5
						img(src="img/content/project-pic.jpg", alt="Projects picture")
					.projects-sct__preview.col-md-5
						img(src="img/content/project-pic.jpg", alt="Projects picture")
					.projects-sct__preview.col-md-5
						img(src="img/content/project-pic.jpg", alt="Projects picture")
