extends ../main

block vars
	-INDEX = true

block content
	include ../_parts/index/about-sct
	include ../_parts/index/services-sct
	include ../_parts/index/projects-sct
	include ../_parts/index/feedback-sct
