extends ../main

block vars
	-CATALOG = true

block content
	include ../_parts/catalog/itemcard-sct
	include ../_parts/catalog/information-sct
	include ../_parts/catalog/projects-sct
	include ../_parts/catalog/feedback-sct
	