.map-sct
	background-image: url("../../img/bg/map-bg.jpg")
	height: 100vh
	position: relative

	&__title
		margin-bottom: rem(20px)
		font-size: rem(18px)
	&__contacts
		margin-bottom: rem(20px)

	&__infobox
		position: absolute
		@extend %centering
		// left: 30%
		background-color: #FFF
		box-shadow: 0 0 8px #888
		font-size: 0.9rem
		padding: rem(20px)
		max-height: 95%

	&__row
		@extend %clearfix
		display: flex
		+responsive('laptop')
			flex-direction: column
	&__address
		margin-bottom: rem(15px)
		
	&__telephone
		vertical-align: top
		display: inline-block
		margin-bottom: rem(15px)
	&__email
		display: inline-block
		vertical-align: bottom
		color: #333
		&:hover
			color: #333

	&__pic
		display: inline-block
		padding: 0
		border: 1px solid $blue
		float: none
		img
			max-width: 100%
	&__text
		display: inline-block

	&__icon
		vertical-align: top
		font-size: rem(24px)
		margin-right: 7px
		color: $blue
		&_mail
			font-size: rem(20px)
	
	table
		margin-bottom: rem(20px)
	td
		width: 50%