.map-sct
	background-image: url("../../img/bg/map-bg.jpg")
	background-position-x: 45%
	height: 700px
	position: relative
	+responsive('phone')
		background-position: 69% 230px
	+responsive('phone-xs')
		background-position: 69% 230px

	&__title
		margin-bottom: rem(20px)
		font-size: rem(18px)
		text-align: center
		+responsive('desktop')
			text-align: left
	&__contacts
		margin-bottom: rem(20px)

	&__infobox
		position: absolute
		@extend %centering
		background-color: #FFF
		box-shadow: 0 0 8px #888
		font-size: 0.9rem
		padding: rem(20px)
		max-height: 95%
		left: 35%
		+responsive('tablet')
			left: 37%
		+responsive('phone')
			max-width: 535px
			top: 40%
			left: 50%
			text-align: center
		+responsive('phone-xs')
			top: 40%
			left: 50%
		
	&__row
		@extend %clearfix
		display: flex
		flex-direction: row
		padding: 0
		+responsive('laptop')
			flex-direction: column
		+responsive('tablet')
			flex-direction: column
		+responsive('phone-xs')
			display: block
	&__address
		margin-bottom: rem(15px)
		+responsive('desktop')
			padding: 0
	&__online
		+responsive('desktop')
			padding: 0
		+responsive('phone-xs')
			margin-bottom: 20px
		
	&__telephone
		vertical-align: top
		display: inline-block
		margin-bottom: rem(15px)
		
	&__email
		display: inline-block
		vertical-align: bottom
		color: #333
		&:hover
			color: #333

	&__pic
		display: inline-block
		padding: 0
		img
			border: 1px solid $blue
			max-width: 100%
	&__text
		display: inline-block
		max-width: 80%

	&__icon
		vertical-align: top
		font-size: rem(22px)
		margin-right: 5px
		color: $blue
		&_mail
			font-size: rem(18px)
	
	table
		margin-bottom: rem(20px)
	td
		width: 50%