section.about-sct
	.about-sct__slider.slider
		ul.slider__toggle
			a.slider__link(href="#").slider__link_active
			a.slider__link(href="#")
			a.slider__link(href="#")
			a.slider__link(href="#")
		.slider__visible.col-lg-8.col-md-8.col-sm-8.col-xs-8
			ul.slider__list
				li.slider__item.slider__item_active
					h2.slider__title
						| Текст справа
					p.slider__text
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, non libero cum est debitis, totam amet inventore odio dolore, maxime adipisci voluptates deserunt impedit omnis facere perferendis fuga blanditiis vel.
					a.slider__btn.btn
						|Большая кнопка
				li.slider__item
					h2.slider__title
						| Текст справа
					p.slider__text
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, non libero cum est debitis, totam amet inventore odio dolore, maxime adipisci voluptates deserunt impedit omnis facere perferendis fuga blanditiis vel.
					a.slider__btn.btn
						|Большая кнопка

	.about-sct__content
		.row.about-sct__about
			.container
				.row.about-sct__row
					.about-sct__pros.col-lg-6.col-md-6.col-sm-7.col-xs-10.col-xs-offset-2
						.about-sct__pic
							img(src="img/icons/pros/assistant32.png", alt="Specialst")
						h3.about-sct__text.about-sct__text_pros
							|Квалифицированные специалисты
					.about-sct__pros.col-lg-5.col-md-5.col-sm-5.col-xs-11.col-xs-offset-1
						.about-sct__pic
							img(src="img/icons/pros/diploma132.png", alt="Warranty")
						h3.about-sct__text.about-sct__text_pros
							|Гарантия
					.about-sct__pros.about-sct__pros_right.col-lg-6.col-lg-offset-2.col-md-7.col-md-offset-1.col-sm-6.col-xs-10.col-xs-offset-2
						.about-sct__pic
							img(src="img/icons/pros/package26.png", alt="Deadlines")
						h3.about-sct__text.about-sct__text_pros
							|Строгое соблюдение сроков
					.about-sct__pros.about-sct__pros_right.col-lg-5.col-md-5.col-sm-6.col-xs-11.col-xs-offset-1
						.about-sct__pic
							img(src="img/icons/pros/businessman64.png", alt="Best prices")
						h3.about-sct__text.about-sct__text_pros
							|Лучшие цены
		.container
			p.about-sct__text.about-sct__text_paragraph
				|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id sequi labore voluptate consequuntur amet ea voluptatibus, ipsa sed aspernatur culpa tempora nesciunt eos quis fugiat voluptatum, unde praesentium eius inventore cupiditate suscipit iusto cumque, nobis incidunt. Quisquam adipisci deserunt voluptatum, suscipit mollitia enim dolorem reiciendis, temporibus repellat, maxime, hic natus!
			p.about-sct__text.about-sct__text_paragraph
				|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sed officiis consequatur qui nisi culpa, nam quos enim porro deserunt distinctio at, saepe doloremque fugit, quaerat repudiandae consectetur dicta earum.
