section.about-sct
	.about-sct__slider.slider
		ul.slider__toggle
			a.slider__link(href="#").slider__link_active
			a.slider__link(href="#")
			a.slider__link(href="#")
			a.slider__link(href="#")
		.slider__visible.col-md-8
			ul.slider__list
				li.slider__item.slider__item_active
					h2.slider__title
						| Текст справа
					p.slider__text
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, non libero cum est debitis, totam amet inventore odio dolore, maxime adipisci voluptates deserunt impedit omnis facere perferendis fuga blanditiis vel.
					a.slider__btn.btn
						|Большая кнопка
				li.slider__item
					h2.slider__title
						| Текст справа
					p.slider__text
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, non libero cum est debitis, totam amet inventore odio dolore, maxime adipisci voluptates deserunt impedit omnis facere perferendis fuga blanditiis vel.
					a.slider__btn.btn
						|Большая кнопка

	.about-sct__about
		.container
			.row
				.about-sct__pros.col-md-6
					.about-sct__pic
						img(src="img/icons/pros/assistant32.png", alt="Specialst")
					h3.about-sct__text
						|Квалифицированные специалисты
				.about-sct__pros.col-md-5
					.about-sct__pic
						img(src="img/icons/pros/diploma132.png", alt="Warranty")
					h3.about-sct__text
						|Гарантия
				.about-sct__pros.about-sct__pros_right.col-md-6.col-md-offset-2
					.about-sct__pic
						img(src="img/icons/pros/package26.png", alt="Deadlines")
					h3.about-sct__text
						|Строгое соблюдение сроков
				.about-sct__pros.about-sct__pros_right.col-md-5
					.about-sct__pic
						img(src="img/icons/pros/businessman64.png", alt="Best prices")
					h3.about-sct__text
						|Лучшие цены
