section.services-sct.section
	.container
		.title-block
			h2.title.services-sct__title
				|Наши услуги
		h3.services-sct__text
			|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nostrum dolorum, eos enim impedit neque possimus. Delectus rerum sint laudantium.

		.row.services-sct__content.row-centered
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						span.fa-stack.fa-lg
						i(class="fa fa-tachometer fa-stack-2x" aria-hidden="true").service__icon
						i(class="fa fa-thermometer-full fa-stack-1x" aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						span.fa-stack.fa-lg
						i(class="fa fa-tachometer fa-stack-2x" aria-hidden="true").service__icon
						i(class="fa fa-tint fa-stack-1x" aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						span.fa-stack.fa-lg
						i(class="fa fa-tachometer fa-stack-2x" aria-hidden="true").service__icon
						i(class="fa fa-clipboard fa-stack-1x" aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						span.fa-stack.fa-lg
						i(class="fa fa-tachometer fa-stack-2x" aria-hidden="true").service__icon
						i(class="fa fa-cogs fa-stack-1x" aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						span.fa-stack.fa-lg
						i(class="fa fa-tachometer fa-stack-2x" aria-hidden="true").service__icon
						i(class="fa fa-wrench fa-stack-1x" aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						span.fa-stack.fa-lg
						i(class="fa fa-tachometer fa-stack-2x" aria-hidden="true").service__icon
						i(class="fa fa-pencil-square-o fa-stack-1x" aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						i(class="fa fa-sitemap", aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						i(class="fa fa-user", aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков