section.services-sct.section
	.container
		.title-block
			h2.title.services-sct__title
				|Наши услуги
		h3.services-sct__text
			|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nostrum dolorum, eos enim impedit neque possimus. Delectus rerum sint laudantium.

		.row.services-sct__content.row-centered
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						i(class="fa fa-tachometer" aria-hidden="true").service__icon
						i(class="fa fa-thermometer-full" aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						i(class="fa fa-tachometer" aria-hidden="true").service__icon
						i(class="fa fa-tint" aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						i(class="fa fa-tachometer" aria-hidden="true").service__icon
						i(class="fa fa-clipboard" aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						i(class="fa fa-tachometer" aria-hidden="true").service__icon
						i(class="fa fa-cogs" aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						i(class="fa fa-tachometer" aria-hidden="true").service__icon
						i(class="fa fa-wrench" aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						i(class="fa fa-tachometer" aria-hidden="true").service__icon
						i(class="fa fa-pencil-square-o" aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						i(class="fa fa-sitemap", aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков
			.services-sct__thumbnail.col-md-5
				.service
					.service__content
						i(class="fa fa-user", aria-hidden="true").service__icon
						h4.service__name
							| Ремонт теплосчетчиков