.category

	&__item
		// background-color: $blue
		padding-bottom: rem(10px)
		border-bottom: 1px solid $blue
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0
	&__icon
		margin-left: 7px

	&__radio
		display: none

		&:checked + .category__tab > .category__label
			background-color: #fff
			color: #333
			border: 1px solid $blue
			border-bottom: 1px solid transparent
			&::after
				content: ''
				display: block
				left: -1px
				right: -1px
				height: 15px
				z-index: 2
				top: calc(100% - 2px)
				position: absolute
				background-color: #FFF
				border-left: 1px solid $blue
				border-right: 1px solid $blue

				+responsive('laptop')
					height: 14px
				+responsive('phone')
					height: 13px
				+responsive('phone-xs')
					height: 12px
			 
	&__tab
		background-color: #fff
		color: #fff
		text-align: center
		border: 1px solid transparent
		margin: 0 0 -1px
		cursor: pointer
		margin-bottom: rem(10px)
		&:first-of-type > label
			margin-left: -22px
		&:nth-of-type(3) > label
			margin-right: -22px

	&__label
		background-color: $blue
		display: inline-block
		border: 1px solid transparent
		padding: rem(10px)
		width: 100%
		position: relative
		cursor: pointer

#tab1:checked ~ .information-sct__warranty,
#tab2:checked ~ .information-sct__characteristics,
#tab3:checked ~ .information-sct__thermo
	display: block

.information-sct__warranty, .information-sct__characteristics, .information-sct__thermo
	display: none
		

