.information-sct
	padding-bottom: 30px
	&__characteristics
		padding: 40px 20px
		border-left: 1px solid $blue
		border-right: 1px solid $blue
		border-bottom: 1px solid $blue

	&__subtitle

	&__context
		margin-bottom: 20px

	&__item
		margin-bottom: 10px
		&:only-child
			margin-bottom: 0
		&::before
			content: '-'
			display: inline-block
			margin: 0 2px
	
	&__sublist
		padding-left: 3%
		@extend %clearfix

	&__classname
		clear: left
		float: left
		font-weight: 600
		text-transform: capitalize
		position: relative
		&::before
			content: ''
			display: inline-block
			vertical-align: middle
			width: 2px
			height: 2px
			background-color: #000
			margin-right: 5px
			position: absolute
			right: 101%
			top: 50%
		&::after
			content: ':'
			display: inline-block
			margin-right: 5px


	&__definition
		margin: 0