.projects-sct
	&__content
		position: relative

	&__pic
		display: inline-block
		@extend %picture

	&__gallery
		text-align: justify
		display: inline-block
		position: absolute
		bottom: -20px
		left: 0
		&::after
			content: ''
			display: inline-block
			width: 100%
			height: 0

	&__preview
		display: inline-block
		float: none
		@extend %picture
		padding: 0
		&>img
			visibility: visible