section.section.contacts-sct
	.container
		.title-block
			h2.title.contacts-sct__title
				|Как нас найти
		.row.contacts-sct__text
			.col-lg-24.col-md-24.col-sm-24.col-xs-24
			p
				|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae sapiente tenetur, harum sint, accusamus quas voluptas odio similique nulla provident! Alias voluptatem itaque reiciendis aspernatur suscipit. Sunt distinctio dignissimos atque modi pariatur assumenda, minima sapiente eveniet saepe, magni eaque, deserunt natus. Eum ut voluptate officia velit eius, sint, corporis repellendus vitae, incidunt, numquam quia. Ipsa eos consectetur asperiores vitae veniam, nisi voluptatum? Ad, iure rerum sunt et consequatur iste hic quos labore nemo error corporis, eligendi voluptatem amet facilis earum officia voluptatibus. Nulla voluptatum tempore cum harum laborum, facilis unde iure pariatur asperiores dicta numquam natus accusantium, doloremque fuga vel ut mollitia non porro? Animi fuga, dignissimos neque, sed adipisci quo eum laudantium itaque voluptatem et hic perferendis illo nesciunt!