section.section.map-sct
	.map-sct__infobox.col-lg-8.col-md-12.col-sm-17.col-xs-20
		.map-sct__content
			h3.map-sct__title.uppercase
				|Наш адрес
			.map-sct__row.col-lg-24.col-md-12.col-sm-11.col-xs-24
				.map-sct__address.col-lg-12.col-md-24.col-sm-24.col-xs-24
					i(class="fa fa-map-marker", aria-hidden="true").map-sct__icon
					.map-sct__text
						| 115554
						br
						| Отличный город,
						br
						| Первая улица, дом 22
				.map-sct__online.col-lg-12.col-md-24.col-sm-24.col-xs-24
					a.map-sct__telephone
						i(class="fa fa-phone", aria-hidden="true").map-sct__icon
						| +7 987 654 32 11
					br
					a.map-sct__email(href="mailto:info@economenergo.ru")
						i(class="fa fa-envelope-open", aria-hidden="true").map-sct__icon.map-sct__icon_mail
						| info@economenergo.ru

			.map-sct__pic.col-lg-24.col-md-12.col-sm-13.col-xs-24
				img(src="img/content/office.jpg", alt="Building photo")

