section.section.map-sct
	.col-md-8
		.map-sct__infobox
			.map-sct__content
				h3.map-sct__title.uppercase
					|Наш адрес
				table
					tr
						td(rowspan=2).map-sct__address
							i(class="fa fa-map-marker", aria-hidden="true").map-sct__icon
							.map-sct__text
								| 115554
								br
								| Отличный город,
								br
								| Первая улица, дом 22

						td.map-sct__link.map-sct__telephone
							i(class="fa fa-phone", aria-hidden="true").map-sct__icon
							| +7 987 654 32 11
					tr
						td
							.map-sct__link.map-sct__email(href="mailto:info@economenergo.ru")
								i(class="fa fa-envelope-open", aria-hidden="true").map-sct__icon.map-sct__icon_mail
								| info@economenergo.ru

				.map-sct__pic.col-md-24
					img(src="img/content/office.jpg", alt="Building photo")

