footer.footer
	.container
		.footer__row.footer__upper
			table.footer__table
				tr
					td.uppercase.col-lg-8
						.footer__info.footer__left
							|ООО "Экономэнерго"
					td.footer__mid.col-lg-8
						|
					td.telephone.footer__telephone.col-lg-8.visible-lg.visible-md
						|+7 987 456-12-37
				tr
					td.col-lg-8

					td.col-lg-8.footer__mid
						|
					td.footer__contacts.col-lg-8
						.footer__right
							|Понедельник-Пятница,
							|8.00-18.00
				tr
					td.footer__info.col-lg-8
					td.col-lg-8.footer__mid
						|
					td.footer__contacts.col-lg-8
				tr
					td.col-lg-8
						.footer__rights.footer__left
							|Свидетельства о регистрации №123-321
							br
							|ООО "Экономэнерго" Все права защищены.
					td.col-lg-8.footer__mid
						|
					td.footer__contacts.col-lg-8
						.footer__right
							|Адрес: 115115,
							|Город, улица, дом
							br
							|Email: client@mail.ru

			ul.footer__nav.uppercase
				li.footer__item
					a(href="index.html").footer__link
						|Компания
				li.footer__item
					a(href="service.html").footer__link
						|Услуги
				li.footer__item
					a(href="catalog.html").footer__link
						|Каталог
				li.footer__item
					a(href="contacts.html").footer__link
						|Контакты
			//- .row.footer__upper
			//- 	.footer__info.col-lg-7.col-md-10.col-sm-10.col-xs-10
			//- 		div.uppercase
			//- 			|ООО "Экономэнерго"
			//- 		.footer__rights
			//- 			|Свидетельства о регистрации №123-321
			//- 			br
			//- 			|ООО "Экономэнерго" Все права защищены.
			//- 	.footer__contacts.col-lg-6.col-lg-offset-4.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2
			//- 		.telephone.footer__telephone
			//- 			|+7 987 456-12-37
			//- 		.footer__work-time
			//- 			|Понедельник-Пятница, 8.00-18.00
			//- 		.footer__adress
			//- 			|Адрес: 115115, Город, улица, дом
			//- 			br
			//- 			|Email: client@mail.ru
		.row.footer__row.footer__lower
			.footer__left.uppercase.col-lg-12.col-md-12.col-sm-12.col-xs-12
				|2017 &copy; ООО "Экономэнерго"
			.footer__right.col-lg-12.col-md-12.col-xs-12
				|Сайт разработан компанией
				a(href="http://web-comp.ru" target="_blank").footer__vendor
					img(src="img/content/webcom.png", alt="WEB-COMP").footer__pic