footer.footer
	.container
		.footer__row
			.row.footer__upper
				.col-md-7.footer__info
					div.uppercase
						|ООО "Экономэнерго"
					.footer__rights
						|Свидетельства о регистрации №123-321
						br
						|ООО "Экономэнерго" Все права защищены.
				.col-md-3.col-md-offset-4
					ul.footer__nav.uppercase
						li.footer__item
							a(href="index.html").footer__link
								|Компания
						li.footer__item
							a(href="service.html").footer__link
								|Услуги
						li.footer__item
							a(href="catalog.html").footer__link
								|Каталог
						li.footer__item
							a(href="contacts.html").footer__link
								|Контакты
				.col-md-6.col-md-offset-4.footer__contacts
					.telephone.footer__telephone
						|+7 987 456-12-37
					.footer__work-time
						|Понедельник-Пятница, 8.00-18.00
					.footer__adress
						|Адрес: 115115, Город, улица, дом
						br
						|Email: client@mail.ru
		.row.footer__row.footer__lower
			.footer__left.uppercase.col-md-12
				|2017 &copy; ООО "Экономэнерго"
			.footer__right.col-md-12
				|Сайт разработан компанией
				a(href="http://web-comp.ru" target="_blank")
					img(src="img/content/webcom.png", alt="WEB-COMP").footer__pic