header.header
	.container
		.row
			.col-md-6
				.header__logo
					img(src="img/icons/logo-1.png", alt="Экономэнерго лого")
				h1.header__title
					|Экономэнерго
	nav.nav
		.container
			ul.nav__list
				li.nav__item item1
				li.nav__item item2
				li.nav__item item3
				li.nav__item item4