header.header
	.container
		.row.header__content
			.header__company.col-lg-8.col-md-10.col-sm-8.col-xs-20
				.header__logo
					img(src="img/icons/logo-header.png", alt="Экономэнерго лого")
				h2.header__title
					|Экономэнерго
			.header__center-block.col-lg-8.col-lg-offset-1.col-md-8.col-sm-7.col-sm-offset-1.col-xs-10.col-xs-offset-2.hidden-xs
				.header__search
					a.header__search_btn(href="#")
						i(class="fa fa-search",aria-hidden="true").header__search_icon
					input.input.input_rounded.header__input.header__input_search
				a(href="#" download).btn.btn_rounded.header__btn.uppercase
					|Скачать прайс-лист
			.header__right.col-lg-5.col-lg-offset-2.col-md-6.col-sm-7.col-sm-offset-1.hidden-xs
				h1.telephone.header__tel
					|+7 987 456-12-37
				a(href="#").btn.btn_rounded.header__btn.header__btn_bottom.uppercase
					|Обратный звонок
	input(type="checkbox", name="dropdown", id="hamb").hidden.dropdown__check
	label(for="hamb").visible-sm.visible-xs.header__hamb
		i(class="fa fa-bars", aria-hidden="true")
	nav.nav
		.container.nav__container
			ul.nav__list.col-lg-14.col-md-14.col-sm-14.col-xs-24
				li.nav__item.nav__item_dropdown(class=INDEX ? 'nav__item_active' : '')
					a.nav__link(href="index.html")
						|Компания
					input(type="checkbox", name="dropdown", id="drop1").hidden.dropdown__check
					label(for="drop1").visible-sm.visible-xs.dropdown__btn
						i(class="fa fa-angle-down", aria-hidden="true")
					ul.dropdown
						li.dropdown__item Пункт не активен
						li.dropdown__item.dropdown__item_active.dropdown__item_submenu Пункт активен
							input(type="checkbox", name="dropdown", id="sub1").hidden.dropdown__check_submenu
							label(for="sub1").visible-sm.visible-xs.dropdown__btn.dropdown__btn_submenu
								i(class="fa fa-angle-right", aria-hidden="true")
								//- .dropdown__item_submenu-icon
							ul.submenu
								li.submenu__item item1
								li.submenu__item 
									a(href="#").submenu__link
										| item2
								li.submenu__item item3
						li.dropdown__item Пункт 	
						li.dropdown__item Курсор
						li.dropdown__item Пункт 	
				li.nav__item.nav__item_dropdown(class=SERVICE ? 'nav__item_active' : '')
					a.nav__link(href="service.html")
						| Услуги
					input(type="checkbox", name="dropdown", id="drop2").hidden.dropdown__check
					label(for="drop2").visible-sm.visible-xs.dropdown__btn
						i(class="fa fa-angle-down", aria-hidden="true")
					ul.dropdown
						li.dropdown__item Пункт не активен
						li.dropdown__item.dropdown__item_active Пункт активен
						li.dropdown__item Пункт 	
						li.dropdown__item Курсор
						li.dropdown__item Пункт
				li.nav__item(class=CATALOG ? 'nav__item_active' : '')
					a.nav__link(href="catalog.html")
						|Каталог
				li.nav__item(class=CONTACTS ? 'nav__item_active' : '')
					a.nav__link(href="contacts.html")
						|Контакты
			ul.nav__chain.chain.col-lg-10.col-md-10.col-sm-10.col-xs-24
				li.chain__item
					a.chain__link(href="#")
						|Компания
				li.chain__item
					a.chain__link.chain__link_active(href="#")
						|Lorem
