header.header
	.container
		.row.header__content
			.col-md-8
				.header__logo(style="background-image: url('img/icons/logo-header.png');")
					img(src="img/icons/logo-header.png", alt="Экономэнерго лого")
				h1.header__title
					|Экономэнерго
			.col-md-8.col-md-offset-1.header__center-block
				.header__search
					a.header__search_btn(href="#")
						i(class="fa fa-search",aria-hidden="true").header__search_icon
					input.input.input_rounded.header__input.header__input_search
				a(href="#" download).btn.header__btn
					|Скачать прайс-лист
			.col-md-5.col-md-offset-2
				a(href="").telephone.header__tel
					|+7 987 456-12-37
				a(href="#").btn.header__btn
					|Обратный звонок
	nav.nav
		.container
			ul.nav__list
				li.nav__item.nav__item_active.nav__item_dropdown Компания
					ul.dropdown
						li.dropdown__item Пункт не активен
						li.dropdown__item.dropdown__item_active.dropdown__item_submenu Пункт активен
							i(class="fa fa-angle-right", aria-hidden="true").dropdown__item_submenu-icon
							ul.submenu
								li.submenu__item item1
								li.submenu__item item2
								li.submenu__item item3
						li.dropdown__item Пункт 	
						li.dropdown__item Курсор
						li.dropdown__item Пункт 	
				li.nav__item.nav__item_dropdown Услуги
					ul.dropdown
						li.dropdown__item Пункт не активен
						li.dropdown__item.dropdown__item_active Пункт активен
						li.dropdown__item Пункт 	
						li.dropdown__item Курсор
						li.dropdown__item Пункт
				li.nav__item Каталог
				li.nav__item Контакты