header.header
	.container
		.row
			.col-md-4
				|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, fugiat repellat architecto perferendis id ipsa laudantium unde soluta doloribus minus?
	nav.nav
		.container
			ul.nav__list
				li.nav__item item1
				li.nav__item item2
				li.nav__item item3
				li.nav__item item4