header.header
	.container
		.row.header__content
			.col-md-12
				.header__logo(style="background-image: url('img/icons/logo-header.png');")
					img(src="img/icons/logo-header.png", alt="Экономэнерго лого")
				h1.header__title
					|Экономэнерго
			.col-md-12
				input.input_rounded
				a(href="#" download).btn
					|Скачать прайс-лист
	nav.nav
		.container
			ul.nav__list
				li.nav__item item1
				li.nav__item item2
				li.nav__item item3
				li.nav__item item4