section.section.offer-sct
	.container
		.title-block
			h2.title.offer-sct__title
				|Установка теплосчетчиков
		.offer-sct__content
			.row
				.offer-sct__pic.col-md-8
					img(src="img/content/offer-pic.jpg", alt="теплосчетчик")
				.offer-sct__text.col-md-16
					p
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam possimus consectetur non ex impedit corporis, dolores ad praesentium autem neque sequi consequatur dolor numquam obcaecati cumque velit facere fugiat expedita, optio vitae, tenetur ratione eligendi temporibus. Et tempore ab hic exercitationem sed nam, eos, laudantium expedita labore dolorem at adipisci, iusto deserunt. Sint, odit inventore porro a, velit blanditiis neque eius nihil asperiores. Iste rerum eos, saepe sunt pariatur, eum eveniet ex deserunt perferendis quos tenetur repellat officiis possimus totam sapiente. Nisi quod quam, sequi dicta obcaecati assumenda id aliquam accusantium, maiores architecto. Hic dolorem architecto ab necessitatibus cum eius saepe eaque a alias. Veritatis esse voluptatem quasi aspernatur nostrum vel earum, quidem ipsam nisi vero a labore quas autem vitae ullam tempora sunt! Reprehenderit, eius, ullam. Eius, dolorum accusantium aut asperiores possimus vel temporibus sapiente voluptate voluptates autem itaque dicta totam omnis est quod, quam assumenda eum blanditiis dolorem? Autem nesciunt odio soluta rerum nisi obcaecati minima laudantium alias atque, omnis tempora, quasi, mollitia, corrupti itaque quidem totam repellendus tenetur optio amet! Aliquam non quia eius explicabo error accusantium, voluptatem doloribus pariatur, molestias dolorum neque itaque nostrum eligendi, deleniti doloremque adipisci modi illo sint unde. Ea, veniam mollitia sequi.
			.row.offer-sct__text.col-md-24
				p
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore minus ducimus, ullam aliquam vel et mollitia nemo laudantium dolor molestias ipsum dolores quis possimus totam praesentium tenetur dolorem fugit beatae sunt. Aperiam asperiores distinctio laudantium corporis, consequuntur, omnis eveniet assumenda iusto nisi porro dicta accusamus hic deserunt quibusdam et perspiciatis.
			ul.offer-sct__list.col-md-24
				li.offer-sct__item
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat aliquam ratione ea officia corporis vel.
				li.offer-sct__item
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam maiores, illo sapiente veritatis maxime voluptate!
				li.offer-sct__item
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, tempora consectetur ut quae eaque mollitia.
				li.offer-sct__item
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae repellat quisquam. Error, cupiditate, tempora.
				li.offer-sct__item
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis provident, vel non molestias ex error.