section.section.order-sct
	.container
		form.row.order-sct__form
			.col-md-8
				input.input.order-sct__input
			.col-md-8
				input.input.order-sct__input
			.col-md-8
				button.btn.order-sct__btn(type="submit")
					|Отправить
